body {
    font-family: Arial, sans-serif;
	width: 100%;
    height: auto; /* Full viewport height */
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#nav{
    background-color: black;
    width: 100%;
    color: white;
    font-size:larger;
	position: fixed;
	top: 0;
    left: 0;
	z-index:1000;

}
a{
    color: #fff;
}
.listhead{
    color: black;
    margin-top: 20%;
}
.nav-link{
    margin-left: 20px; 
    margin-right: 20px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.0rem; /* Increased size for better visibility */
	text-align: center;
    font-weight: 300;
    color: black;
    /* background: -webkit-linear-gradient(#f51111, orangered, #db990c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    

}

.form, form{
    background-color: white;
	width: 300px;
    padding: 20px;
    border-radius: 20px;
    border: 3px black solid;
    margin-top: 40%;
    margin-bottom: 40%;
}

h1{
    margin-top: 20%;
    margin-bottom: 20%;
    color: black;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:black;
    
}


form input[type="text"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 10px; /* Increased padding for better touch targets */
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form textarea:focus,
form select:focus {
    border-color: #4CAF50; /* Change border color on focus */
}

form textarea {
    resize: vertical; /* Allow vertical resizing only */
}
button{
	text-align: center;
}
button,
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover,
input[type="submit"]:hover {
    background-color: #09580d;
    
}
input[type="submit"]{
    width: 100%;
}

form p {
    margin-bottom: 15px;
}

form p:last-child {
    margin-bottom: 0;
}

tr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 700;
    
}

footer{
    background-color: black;
    width: 100%;
    color: white;
    font-size:larger;
    bottom: 0;
	z-index:1000;
   
}
#logo{

    border-bottom: 1px solid yellow;
    border-left: 1px solid orange;
    border-top : 1px solid orangered ;
    border-right: 1px solid red ;
}

