{% extends 'books/base.html' %}
{% load static %}
{% block content %}
  <form action="" method="post">
    <h2>Add Author</h2>
    {% csrf_token %}
    <div id=auth>
      <label for="name"> Name:</label>
      <input type="text" name="name" >
    </div>
    <div>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" name="date_of_birth">
    </div>
    <div>
      <label for="date_of_death">Date of Death:</label>
      <input type="date" name="date_of_death">
    </div>
    <button type="submit">Submit</button>
</form>
{%endblock content%}

